In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [ ]:
df = pd.read_csv("top_5000_movies.csv")
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),(2023),PG-13,124 min,"Action, Adventure, Comedy",6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),(2023),R,95 min,"Comedy, Thriller",6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
2,2,2,2,2.0,9.\nThe Whale\n(2022),(2022),R,117 min,Drama,7.8,60 \n Metascore,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077",United States
3,3,3,3,3.0,10.\nBabylon\n(I) (2022),(I) (2022),R,189 min,"Comedy, Drama, History",7.3,60 \n Metascore,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750",United States
4,4,4,4,4.0,11.\nKnock at the Cabin\n(2023),(2023),R,100 min,"Horror, Mystery, Thriller",6.2,63 \n Metascore,"While vacationing, a girl and her parents are ...","Votes:\n39,406",United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4987,4987,122,122,NaN,"9,242.\nGigi\n(1958)",(1958),G,115 min,"Comedy, Musical, Romance",6.6,82 \n Metascore,"Weary of the conventions of Parisian society, ...","Votes:\n23,409",Unknown
4988,4988,123,123,NaN,"9,244.\nCharlie Says\n(2018)",(2018),R,110 min,"Biography, Crime, Drama",5.9,57 \n Metascore,The tragic tale of an all-American girl who wa...,"Votes:\n4,977\n| Gross:\n$0.04M",United States
4989,4989,124,124,NaN,"9,246.\nSon in Law\n(1993)",(1993),PG-13,95 min,"Comedy, Drama, Romance",5.8,33 \n Metascore,"Having gotten a taste of college life, a drast...","Votes:\n21,147\n| Gross:\n$36.45M",United States
4990,4990,125,125,NaN,"9,247.\nThe Secret of My Success\n(1987)",(1987),PG-13,111 min,"Comedy, Romance",6.5,36 \n Metascore,A talented young man can't get an executive po...,"Votes:\n34,798\n| Gross:\n$67.00M",United States
4991,4991,126,126,NaN,"9,248.\nEnemy Mine\n(1985)",(1985),PG-13,108 min,"Action, Adventure, Drama",6.8,59 \n Metascore,"During a long space war, the lives of two woun...","Votes:\n49,150\n| Gross:\n$4.27M",Unknown

Heatmap

In [ ]:
df[df["time"]=="Georgia"]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
3234,3234,147,147,NaN,"5,738.\nLandmine Goes Click\n(2015)",(2015),TV-MA,105 min,"Action, Crime, Drama",5.9,35 \n Metascore,"Trapped standing on an armed landmine, an Amer...","Votes:\n6,031",Georgia

In [ ]:
df["genre"]=df.genre.apply(lambda x:x.strip("[]").replace("'","").replace(" ","").split(","))
df["genre"]

0       [Action, Adventure, Comedy]
1                [Comedy, Thriller]
2                           [Drama]
3          [Comedy, Drama, History]
4       [Horror, Mystery, Thriller]
                   ...
4987     [Comedy, Musical, Romance]
4988      [Biography, Crime, Drama]
4989       [Comedy, Drama, Romance]
4990              [Comedy, Romance]
4991     [Action, Adventure, Drama]
Name: genre, Length: 4992, dtype: object

In [ ]:
from collections import Counter

# list of genres
genres=df["genre"].to_list()

# count the frequency of each genre
genre_counts = Counter(genre for movie in genres for genre in movie)

# initialize the correlation matrix
n = len(genre_counts)
correlation_matrix = [[0] * n for _ in range(n)]

# calculate the correlation between each pair of genres
for i, genre1 in enumerate(genre_counts):
    for j, genre2 in enumerate(genre_counts):
        if i < j:
            count = sum(1 for movie in genres if genre1 in movie and genre2 in movie)
            correlation = count
            correlation_matrix[i][j] = correlation
            correlation_matrix[j][i] = correlation
genre=[]
# print the correlation matrix
print('   ', end='')
for g in genre_counts:
    print(f'{g:<10}', end='')
    genre.append(g)
print()
for i, row in enumerate(correlation_matrix):
    print(f'{genre_counts[i]:<2}', end='')
    for j, correlation in enumerate(row):
        print(f'{correlation:<10.2f}', end='')
    print()

   Action    Adventure Comedy    Thriller  Drama     History   Horror    Mystery   Crime     Fantasy   War       Romance   Animation Sci-Fi    Music     Family    Sport     Biography Musical   Western   DocumentaryShort     Film-Noir
0 0.00      604.00    267.00    309.00    369.00    27.00     88.00     52.00     345.00    131.00    18.00     17.00     51.00     241.00    0.00      20.00     12.00     29.00     0.00      11.00     2.00      0.00      0.00
0 604.00    0.00      399.00    82.00     235.00    8.00      32.00     27.00     37.00     148.00    9.00      23.00     235.00    158.00    4.00      124.00    3.00      21.00     1.00      11.00     1.00      1.00      1.00
0 267.00    399.00    0.00      33.00     577.00    8.00      85.00     34.00     218.00    132.00    10.00     408.00    170.00    48.00     65.00     143.00    36.00     45.00     26.00     5.00      2.00      0.00      1.00
0 309.00    82.00     33.00     0.00      330.00    10.00     209.00    180.00    236.00    11.00     5.00      22.00     0.00      70.00     1.00      0.00      0.00      8.00      0.00      4.00      0.00      0.00      1.00
0 369.00    235.00    577.00    330.00    0.00      141.00    174.00    297.00    554.00    153.00    67.00     529.00    36.00     107.00    101.00    75.00     70.00     341.00    35.00     35.00     3.00      0.00      6.00
0 27.00     8.00      8.00      10.00     141.00    0.00      0.00      0.00      6.00      1.00      6.00      4.00      0.00      0.00      0.00      1.00      1.00      66.00     2.00      0.00      1.00      0.00      0.00
0 88.00     32.00     85.00     209.00    174.00    0.00      0.00      214.00    40.00     87.00     0.00      7.00      0.00      102.00    3.00      0.00      0.00      0.00      4.00      3.00      0.00      0.00      0.00
0 52.00     27.00     34.00     180.00    297.00    0.00      214.00    0.00      144.00    25.00     1.00      25.00     1.00      59.00     2.00      0.00      0.00      1.00      0.00      1.00      1.00      0.00      4.00
0 345.00    37.00     218.00    236.00    554.00    6.00      40.00     144.00    0.00      12.00     0.00      28.00     3.00      13.00     7.00      2.00      3.00      81.00     5.00      2.00      1.00      0.00      6.00
0 131.00    148.00    132.00    11.00     153.00    1.00      87.00     25.00     12.00     0.00      1.00      39.00     15.00     6.00      4.00      70.00     0.00      2.00      3.00      0.00      0.00      0.00      0.00
0 18.00     9.00      10.00     5.00      67.00     6.00      0.00      1.00      0.00      1.00      0.00      11.00     1.00      0.00      0.00      0.00      0.00      5.00      0.00      1.00      1.00      0.00      0.00
0 17.00     23.00     408.00    22.00     529.00    4.00      7.00      25.00     28.00     39.00     11.00     0.00      0.00      25.00     29.00     14.00     12.00     24.00     18.00     5.00      0.00      0.00      1.00
0 51.00     235.00    170.00    0.00      36.00     0.00      0.00      1.00      3.00      15.00     1.00      0.00      0.00      1.00      0.00      30.00     0.00      2.00      0.00      0.00      1.00      1.00      0.00
0 241.00    158.00    48.00     70.00     107.00    0.00      102.00    59.00     13.00     6.00      0.00      25.00     1.00      0.00      0.00      4.00      1.00      0.00      1.00      0.00      0.00      0.00      0.00
0 0.00      4.00      65.00     1.00      101.00    0.00      3.00      2.00      7.00      4.00      0.00      29.00     0.00      0.00      0.00      3.00      0.00      20.00     7.00      0.00      2.00      0.00      0.00
0 20.00     124.00    143.00    0.00      75.00     1.00      0.00      0.00      2.00      70.00     0.00      14.00     30.00     4.00      3.00      0.00      5.00      8.00      6.00      0.00      0.00      0.00      0.00
0 12.00     3.00      36.00     0.00      70.00     1.00      0.00      0.00      3.00      0.00      0.00      12.00     0.00      1.00      0.00      5.00      0.00      23.00     0.00      0.00      1.00      0.00      0.00
0 29.00     21.00     45.00     8.00      341.00    66.00     0.00      1.00      81.00     2.00      5.00      24.00     2.00      0.00      20.00     8.00      23.00     0.00      3.00      1.00      5.00      0.00      0.00
0 0.00      1.00      26.00     0.00      35.00     2.00      4.00      0.00      5.00      3.00      0.00      18.00     0.00      1.00      7.00      6.00      0.00      3.00      0.00      0.00      0.00      0.00      0.00
0 11.00     11.00     5.00      4.00      35.00     0.00      3.00      1.00      2.00      0.00      1.00      5.00      0.00      0.00      0.00      0.00      0.00      1.00      0.00      0.00      0.00      0.00      0.00
0 2.00      1.00      2.00      0.00      3.00      1.00      0.00      1.00      1.00      0.00      1.00      0.00      1.00      0.00      2.00      0.00      1.00      5.00      0.00      0.00      0.00      0.00      0.00
0 0.00      1.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      1.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00
0 0.00      1.00      1.00      1.00      6.00      0.00      0.00      4.00      6.00      0.00      0.00      1.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00      0.00

In [ ]:
genres = genre

In [ ]:
import csv

# list of genres and correlation matrix from previous example
#genres = ["Action","Adventure","Drama","Fantasy","Comedy","Horror","Sci-Fi","Thriller","Crime","Mystery","Animation","Romance","Family","Biography","Music","Sport","Musical","War","Documentary","History"]

# write the data to a CSV file
with open('genres.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow([''] + genres)
    for i in range(len(genres)):
        row = [genres[i]] + [correlation_matrix[i][j] for j in range(len(genres))]
        writer.writerow(row)

Parallel

In [ ]:
raw = pd.read_csv('top_5000_movies.csv')

In [ ]:
raw = pd.read_csv('top_5000_movies.csv')
def int_year(data):
  if data[0] == '(':
    #print(data)
    return int(str(data).replace('(','').replace(')','').replace('I','').replace('X','')
    .replace(' ','').replace('V','').replace('TMovie','').replace('-','')[:4])
  else:
    return int(data)
def int_time(data):
  return int(data.strip(' min'))
raw['year'] = raw['year'].str.replace('-', '').apply(int_year)
raw['time'] = raw['time'].apply(int_time)
raw['rating'] = raw['rating'].apply(lambda x: float(x))
raw['metascore'] = raw['metascore'].apply(lambda x: int(x.strip(' \nMetascore')))
raw.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),2023,PG-13,124,"Action, Adventure, Comedy",6.5,48,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),2023,R,95,"Comedy, Thriller",6.5,54,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
2,2,2,2,2.0,9.\nThe Whale\n(2022),2022,R,117,Drama,7.8,60,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077",United States
3,3,3,3,3.0,10.\nBabylon\n(I) (2022),2022,R,189,"Comedy, Drama, History",7.3,60,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750",United States
4,4,4,4,4.0,11.\nKnock at the Cabin\n(2023),2023,R,100,"Horror, Mystery, Thriller",6.2,63,"While vacationing, a girl and her parents are ...","Votes:\n39,406",United States

In [ ]:
raw[raw["countries"]=="Brazil"]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
371,371,371,73,73.0,868.\nCity of God\n(2002),2002,R,130,"Crime, Drama",8.6,79,"In the slums of Rio, two kids' paths diverge a...","Votes:\n763,288\n| Gross:\n$7.56M",Brazil

In [ ]:
ra_cnt = raw[['year','time','rating','metascore',"certificate","countries","genre"]]
ra_cnt['countries'].unique()

array(['United States', 'United Kingdom', 'Germany', 'Canada', 'Japan',
       'Unknown', 'Australia', 'New Zealand', 'India', 'Morocco',
       'Norway', 'South Korea', 'Ireland', 'Italy', 'France', 'Spain',
       'Sweden', 'Netherlands', 'Brazil', 'Taiwan', 'Denmark',
       'Hong Kong', 'China', 'Mexico', 'Thailand', 'Switzerland',
       'Finland', 'Philippines', 'Chile', 'Sri Lanka', 'Indonesia',
       'Iran', 'Pakistan', 'Belgium', 'Poland', 'South Africa', 'Austria',
       'West Germany', 'Iceland', 'Czechia', 'Ukraine', 'Singapore',
       'Georgia', 'Russia', 'Slovakia', 'Hungary', 'Turkey'], dtype=object)

In [ ]:
ra_cnt = ra_cnt[ra_cnt['certificate'] != "Unrated"]
ra_cnt = ra_cnt[ra_cnt['certificate'] != "Not Rated"]
ra_cnt = ra_cnt[ra_cnt['countries'] != "Unknown"]
ra_cnt['countries'] = ra_cnt['countries'].replace(["Taiwan"],'China')
ra_cnt['countries'] = ra_cnt['countries'].replace(["Hong Kong"],'China')
ra_cnt['countries'] = ra_cnt['countries'].replace(["West Germany"],'Germany')
ra_cnt['genre']=ra_cnt['genre'].apply(lambda x: x.split(',')[0])
ra_cnt

      year  time  rating  metascore certificate      countries      genre
0     2023   124     6.5         48       PG-13  United States     Action
1     2023    95     6.5         54           R  United States     Comedy
2     2022   117     7.8         60           R  United States      Drama
3     2022   189     7.3         60           R  United States     Comedy
4     2023   100     6.2         63           R  United States     Horror
...    ...   ...     ...        ...         ...            ...        ...
4985  2014    95     6.0         25           R  United States     Comedy
4986  1985    82     5.2         34           R  United States     Comedy
4988  2018   110     5.9         57           R  United States  Biography
4989  1993    95     5.8         33       PG-13  United States     Comedy
4990  1987   111     6.5         36       PG-13  United States     Comedy

[3200 rows x 7 columns]

In [ ]:
ra_cnt['certificate'].unique()

array(['PG-13', 'R', 'PG', 'TV-MA', '15+', 'TV-PG', 'Approved', '18+',
       '13+', 'TV-14', 'G', 'NC-17', 'Passed', 'TV-G', '16+', '12+', 'GP',
       'MA-17', 'M', 'M/PG', 'TV-Y7', 'X'], dtype=object)

In [ ]:
rating_dict = {
    'G': 'Children',
    'TV-G': 'Children',
    'TV-Y7': 'Children',
    'PG': 'Children',
    'TV-Y': 'Children',
    'PG-13': 'Teenagers',
    'TV-PG': 'Teenagers',
    '12+': 'Teenagers',
    '13+': 'Teenagers',
    'TV-14': 'Teenagers',
    'R': 'Adults',
    'TV-MA': 'Adults',
    '15+': 'Adults',
    '16+': 'Adults',
    '18+': 'Adults',
    'NC-17': 'Adults',
    'Approved': 'Adults',
    'Passed': 'Adults',
    'GP': 'Adults',
    'M': 'Adults',
    'M/PG': 'Adults',
    'X': 'Adults',
    'MA-17': 'Adults'
}

ra_cnt['Certificate'] = ra_cnt['certificate'].map(rating_dict)
ra_cnt['Certificate2'] = ra_cnt['certificate'].map(rating_dict)
ra_cnt

,year,time,rating,metascore,certificate,countries,genre,Certificate,Certificate2
0,2023,124,6.5,48,PG-13,United States,Action,Teenagers,Teenagers
1,2023,95,6.5,54,R,United States,Comedy,Adults,Adults
2,2022,117,7.8,60,R,United States,Drama,Adults,Adults
3,2022,189,7.3,60,R,United States,Comedy,Adults,Adults
4,2023,100,6.2,63,R,United States,Horror,Adults,Adults
...,...,...,...,...,...,...,...,...,...
4985,2014,95,6.0,25,R,United States,Comedy,Adults,Adults
4986,1985,82,5.2,34,R,United States,Comedy,Adults,Adults
4988,2018,110,5.9,57,R,United States,Biography,Adults,Adults
4989,1993,95,5.8,33,PG-13,United States,Comedy,Teenagers,Teenagers
4990,1987,111,6.5,36,PG-13,United States,Comedy,Teenagers,Teenagers

In [ ]:
ra_cnt['genre'].unique()

array(['Action', 'Comedy', 'Drama', 'Horror', 'Crime', 'Animation',
       'Adventure', 'Biography', 'Thriller', 'Mystery', 'Fantasy',
       'Documentary', 'Western', 'Family', 'Romance', 'Film-Noir',
       'Sci-Fi'], dtype=object)

In [ ]:
ra_cnt['countries'].unique()

array(['United States', 'United Kingdom', 'Germany', 'Canada', 'Japan',
       'Australia', 'New Zealand', 'India', 'Morocco', 'Norway',
       'South Korea', 'Ireland', 'Italy', 'France', 'Spain', 'Sweden',
       'Netherlands', 'Brazil', 'China', 'Mexico', 'Thailand',
       'Switzerland', 'Denmark', 'Finland', 'Philippines', 'Chile',
       'Sri Lanka', 'Indonesia', 'Iran', 'Pakistan', 'Belgium', 'Poland',
       'South Africa', 'Austria', 'Iceland', 'Czechia', 'Ukraine',
       'Singapore', 'Georgia', 'Russia', 'Slovakia', 'Hungary', 'Turkey'],
      dtype=object)

In [ ]:
min(ra_cnt['time']), max(ra_cnt['time'])

(32, 270)

In [ ]:
min(ra_cnt['metascore']), max(ra_cnt['metascore'])

(4, 100)

In [ ]:
ra_cnt['New Certificate'].unique()

array(['Teenagers', 'Adults', 'Children'], dtype=object)

In [ ]:
ra_cnt.to_csv("ra_cnt.csv",index=False)

Timeriver

In [ ]:
raw=pd.read_csv("top_5000_movies.csv")
raw.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),(2023),PG-13,124 min,"Action, Adventure, Comedy",6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),(2023),R,95 min,"Comedy, Thriller",6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
2,2,2,2,2.0,9.\nThe Whale\n(2022),(2022),R,117 min,Drama,7.8,60 \n Metascore,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077",United States
3,3,3,3,3.0,10.\nBabylon\n(I) (2022),(I) (2022),R,189 min,"Comedy, Drama, History",7.3,60 \n Metascore,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750",United States
4,4,4,4,4.0,11.\nKnock at the Cabin\n(2023),(2023),R,100 min,"Horror, Mystery, Thriller",6.2,63 \n Metascore,"While vacationing, a girl and her parents are ...","Votes:\n39,406",United States

In [ ]:
def int_year(data):
  if data[0] == '(':
    #print(data)
    return int(str(data).replace('(','').replace(')','').replace('I','').replace('X','')
    .replace(' ','').replace('V','').replace('TMovie','').replace('-','')[:4])
  else:
    return int(data)
raw['year'] = raw['year'].str.replace('-', '').apply(int_year)
raw['genre'] = raw['genre'].apply(lambda x: x.split(','))
raw.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),2023,PG-13,124 min,"[Action, Adventure, Comedy]",6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),2023,R,95 min,"[Comedy, Thriller]",6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
2,2,2,2,2.0,9.\nThe Whale\n(2022),2022,R,117 min,[Drama],7.8,60 \n Metascore,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077",United States
3,3,3,3,3.0,10.\nBabylon\n(I) (2022),2022,R,189 min,"[Comedy, Drama, History]",7.3,60 \n Metascore,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750",United States
4,4,4,4,4.0,11.\nKnock at the Cabin\n(2023),2023,R,100 min,"[Horror, Mystery, Thriller]",6.2,63 \n Metascore,"While vacationing, a girl and her parents are ...","Votes:\n39,406",United States

In [ ]:
year_gen = raw.explode("genre")
year_gen[year_gen["genre"]=="Music"] = "Mis"

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),2023,PG-13,124 min,Action,6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),2023,PG-13,124 min,Adventure,6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),2023,PG-13,124 min,Comedy,6.5,48 \n Metascore,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),2023,R,95 min,Comedy,6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),2023,R,95 min,Thriller,6.5,54 \n Metascore,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4990,4990,125,125,NaN,"9,247.\nThe Secret of My Success\n(1987)",1987,PG-13,111 min,Comedy,6.5,36 \n Metascore,A talented young man can't get an executive po...,"Votes:\n34,798\n| Gross:\n$67.00M",United States
4990,4990,125,125,NaN,"9,247.\nThe Secret of My Success\n(1987)",1987,PG-13,111 min,Romance,6.5,36 \n Metascore,A talented young man can't get an executive po...,"Votes:\n34,798\n| Gross:\n$67.00M",United States
4991,4991,126,126,NaN,"9,248.\nEnemy Mine\n(1985)",1985,PG-13,108 min,Action,6.8,59 \n Metascore,"During a long space war, the lives of two woun...","Votes:\n49,150\n| Gross:\n$4.27M",Unknown
4991,4991,126,126,NaN,"9,248.\nEnemy Mine\n(1985)",1985,PG-13,108 min,Adventure,6.8,59 \n Metascore,"During a long space war, the lives of two woun...","Votes:\n49,150\n| Gross:\n$4.27M",Unknown
4991,4991,126,126,NaN,"9,248.\nEnemy Mine\n(1985)",1985,PG-13,108 min,Drama,6.8,59 \n Metascore,"During a long space war, the lives of two woun...","Votes:\n49,150\n| Gross:\n$4.27M",Unknown

In [29]:
year_gen = raw.explode("genre")
year_gen["genre"] = year_gen["genre"].apply(lambda x: x.strip(" "))
year_gen["genre"]=year_gen["genre"].replace("Music","Musical")
year_gen = year_gen.groupby(['year', 'genre']).size().reset_index(name='count')
year_gen = year_gen.pivot_table(index='genre', columns='year', values='count')
year_gen = year_gen.fillna(0)
year_gen = year_gen.reset_index()
year_gen = year_gen.groupby("genre").sum()
year_gen = year_gen.transpose()
year_gen

genre,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,Horror,Musical,Mystery,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
year,,,,,,,,,,,,,,,,,,,,,
1927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1931,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,...,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1933,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1934,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,60.0,43.0,10.0,29.0,61.0,38.0,0.0,107.0,8.0,17.0,...,38.0,6.0,27.0,20.0,18.0,0.0,1.0,31.0,5.0,0.0
2020,32.0,25.0,9.0,9.0,58.0,22.0,2.0,89.0,6.0,11.0,...,25.0,4.0,30.0,23.0,8.0,0.0,1.0,26.0,1.0,0.0
2021,64.0,48.0,17.0,19.0,51.0,35.0,2.0,119.0,4.0,18.0,...,32.0,8.0,28.0,21.0,20.0,0.0,3.0,52.0,2.0,3.0
2022,69.0,58.0,22.0,17.0,108.0,36.0,8.0,161.0,14.0,17.0,...,53.0,11.0,30.0,44.0,9.0,1.0,5.0,67.0,3.0,1.0
2023,6.0,5.0,0.0,4.0,12.0,3.0,1.0,17.0,2.0,1.0,...,4.0,0.0,5.0,6.0,0.0,0.0,2.0,10.0,0.0,1.0

In [30]:
year_gen.to_csv("year_gen_cnt.csv")

In [ ]:
raw['countries'] = raw['countries'].replace(["Taiwan"],'China')
raw['countries'] = raw['countries'].replace(["Hong Kong"],'China')
raw['countries'] = raw['countries'].replace(["West Germany"],'Germany')

grouped = raw.groupby(['year', 'countries']).size().reset_index(name='count')
pivot_table = grouped.pivot_table(index='year', columns='countries', values='count', fill_value=0)
pivot_table=pivot_table.drop("Unknown",axis=1)
pivot_table = pivot_table.iloc[:, ::-1]
#pivot_table = pivot_table.drop("United States",axis=1)

pivot_table

countries,United States,United Kingdom,Ukraine,Turkey,Thailand,Switzerland,Sweden,Sri Lanka,Spain,South Korea,...,Finland,Denmark,Czechia,China,Chile,Canada,Brazil,Belgium,Austria,Australia
year,,,,,,,,,,,,,,,,,,,,,
1927,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1931,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1933,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1934,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,86,19,0,0,0,1,0,0,2,2,...,1,2,0,6,0,2,0,0,0,1
2020,68,13,0,0,0,0,0,0,1,0,...,0,2,0,1,0,5,0,0,0,0
2021,87,20,0,0,0,1,1,0,2,1,...,2,0,0,1,0,3,0,0,0,1
2022,150,26,1,0,0,1,1,0,2,2,...,1,1,1,0,0,6,0,0,0,7
2023,19,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [ ]:
len(raw['countries'].unique())

44

In [ ]:
pivot_table.to_csv('year_cnt.csv',index=True)

Map

In [ ]:
raw=pd.read_csv("top_5000_movies.csv")
def int_year(data):
  if data[0] == '(':
    #print(data)
    return int(str(data).replace('(','').replace(')','').replace('I','').replace('X','')
    .replace(' ','').replace('V','').replace('TMovie','').replace('-','')[:4])
  else:
    return int(data)
def int_time(data):
  return int(data.strip(' min'))
raw['year'] = raw['year'].str.replace('-', '').apply(int_year)
raw['time'] = raw['time'].apply(int_time)
raw['rating'] = raw['rating'].apply(lambda x: float(x))
raw['metascore'] = raw['metascore'].apply(lambda x: int(x.strip(' \nMetascore')))
raw['countries'] = raw['countries'].replace(["Taiwan"],'China')
raw['countries'] = raw['countries'].replace(["Hong Kong"],'China')
raw['countries'] = raw['countries'].replace(["West Germany"],'Germany')
raw.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,title,year,certificate,time,genre,rating,metascore,simple_desc,votes,countries
0,0,0,0,0.0,2.\nAnt-Man and the Wasp: Quantumania\n(2023),2023,PG-13,124,"Action, Adventure, Comedy",6.5,48,"Scott Lang and Hope Van Dyne, along with Hank ...","Votes:\n71,838",United States
1,1,1,1,1.0,3.\nCocaine Bear\n(2023),2023,R,95,"Comedy, Thriller",6.5,54,"An oddball group of cops, criminals, tourists ...","Votes:\n10,536",United States
2,2,2,2,2.0,9.\nThe Whale\n(2022),2022,R,117,Drama,7.8,60,"A reclusive, morbidly obese English teacher at...","Votes:\n59,077",United States
3,3,3,3,3.0,10.\nBabylon\n(I) (2022),2022,R,189,"Comedy, Drama, History",7.3,60,A tale of outsized ambition and outrageous exc...,"Votes:\n81,750",United States
4,4,4,4,4.0,11.\nKnock at the Cabin\n(2023),2023,R,100,"Horror, Mystery, Thriller",6.2,63,"While vacationing, a girl and her parents are ...","Votes:\n39,406",United States

In [ ]:
df = raw
grouped = df.groupby('countries')['rating'].agg(['count', 'mean'])
grouped = grouped.rename(columns={'count': 'movie_count', 'mean': 'average_score'})
grouped = grouped.sort_values('average_score', ascending=False)
grouped.head()

             movie_count  average_score
countries
Brazil                 1       8.600000
Iran                   2       8.250000
New Zealand           13       7.861538
Slovakia               1       7.800000
Pakistan               1       7.700000

In [ ]:
grouped.to_csv("cont_ra_cnt.csv",index = True)